flow/iptv_flow.json
[{"id":"cfadfe41.6de39","type":"inject","z":"cc7651f1.0d546","name":"Update daily @ 03:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"x":87,"y":192,"wires":[["33ea0fb.9f4497"]],"l":false},{"id":"1bd9f605.ed8b32","type":"uibuilder","z":"cc7651f1.0d546","name":"","topic":"","url":"tv","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":554,"y":432,"wires":[["5b671bdf.ae1ae4"],["fa1d8e.6956ca7"]]},{"id":"5a225cb9.a56a6c","type":"change","z":"cc7651f1.0d546","name":"","rules":[{"t":"delete","p":"uibuilderCtrl","pt":"msg"},{"t":"set","p":"filename","pt":"msg","to":"all","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":231,"y":312,"wires":[["107fee04.4c63ea"]],"l":false},{"id":"9690e496.73dc88","type":"link in","z":"cc7651f1.0d546","name":"Dash Ctrl In","links":["fa1d8e.6956ca7"],"x":135,"y":312,"wires":[["b13327f9.533d28"]]},{"id":"b13327f9.533d28","type":"switch","z":"cc7651f1.0d546","name":"ui ctrl","property":"uibuilderCtrl","propertyType":"msg","rules":[{"t":"eq","v":"client connect","vt":"str"},{"t":"eq","v":"ready for content","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":183,"y":312,"wires":[[],["5a225cb9.a56a6c"],[]],"l":false},{"id":"fa1d8e.6956ca7","type":"link out","z":"cc7651f1.0d546","name":"","links":["9690e496.73dc88"],"x":663,"y":456,"wires":[]},{"id":"5b671bdf.ae1ae4","type":"link out","z":"cc7651f1.0d546","name":"","links":["a80c25bd.98a97","152fd820.1b9018","c01bfc6b.8730d8"],"x":663,"y":408,"wires":[]},{"id":"aa69846d.103b58","type":"file in","z":"cc7651f1.0d546","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":183,"y":432,"wires":[["6bc56c0d.ed31a4"]],"l":false},{"id":"6bc56c0d.ed31a4","type":"json","z":"cc7651f1.0d546","name":"","property":"payload","action":"","pretty":false,"x":231,"y":432,"wires":[["b3262610.56cce"]],"l":false},{"id":"b3262610.56cce","type":"change","z":"cc7651f1.0d546","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"channels","tot":"msg"},{"t":"set","p":"payload.channels","pt":"msg","to":"channels[$contains(tv_categories,$$.topic)]","tot":"jsonata"},{"t":"delete","p":"channels","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":279,"y":432,"wires":[["1bd9f605.ed8b32"]],"l":false},{"id":"5e81d911.f45148","type":"comment","z":"cc7651f1.0d546","name":"Load single Country or Category","info":"","x":250,"y":384,"wires":[]},{"id":"62a9ce35.116368","type":"function","z":"cc7651f1.0d546","name":"","func":"filename = flow.get(\"all\")\n\nif(msg.payload.hasOwnProperty(\"country\")){\n    topic = msg.payload.country\n}\nif(msg.payload.hasOwnProperty(\"category\")){\n    topic = msg.payload.category\n}\n\nif(!msg.payload.hasOwnProperty(\"search\")){\n    return {filename:filename,topic:topic};\n}\n","outputs":1,"noerr":0,"x":135,"y":432,"wires":[["aa69846d.103b58"]],"l":false},{"id":"c01bfc6b.8730d8","type":"link in","z":"cc7651f1.0d546","name":"","links":["5b671bdf.ae1ae4"],"x":63,"y":480,"wires":[["62a9ce35.116368","3ea832eb.75aa46"]]},{"id":"6b70e5c8.05a1a4","type":"comment","z":"cc7651f1.0d546","name":"Load all countries and categories","info":"","x":250,"y":264,"wires":[]},{"id":"72c4754d.981174","type":"comment","z":"cc7651f1.0d546","name":"Retrieve m3u8 daily @ 03:00 and convert to json","info":"","x":228,"y":144,"wires":[]},{"id":"a73eaaff.03351","type":"change","z":"cc7651f1.0d546","name":"","rules":[{"t":"set","p":"all","pt":"flow","to":"/home/administrator/.node-red/uibuilder/tv/src/all.json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":135,"y":96,"wires":[[]],"l":false},{"id":"8b58701e.ec2ba","type":"inject","z":"cc7651f1.0d546","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":87,"y":96,"wires":[["a73eaaff.03351"]],"l":false},{"id":"c7dd662e.7d2cc","type":"comment","z":"cc7651f1.0d546","name":"Set filename - ***edit this***","info":"","x":158,"y":48,"wires":[]},{"id":"33ea0fb.9f4497","type":"http request","z":"cc7651f1.0d546","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://iptv-org.github.io/iptv/index.full.m3u","tls":"","persist":false,"proxy":"","authType":"","x":135,"y":192,"wires":[["3e7e35d2.bcf6da"]],"l":false},{"id":"3e7e35d2.bcf6da","type":"function","z":"cc7651f1.0d546","name":"parse m3u8 to json","func":"function m3utojson(m3u) {\n    return m3u\n        .replace('#EXTM3U', '')\n        .split('#EXTINF:-1 ')\n        .slice(1)\n        .map(function(str, index) {\n            var channel = str.split('\\n').slice(0,-1);\n            regex = /tvg-id=\"(.*?)\" tvg-name=\"(.*?)\" tvg-logo=\"(.*?)\" group-title=\"(.*)\",(.*?)$/gm;\n            var details = regex.exec(channel[0])\n          \n            return {\n                \"title\": details[5],\n                \"tv_logo\": details[3],\n                \"tv_categories\": details[4],\n                \"streaming_url\": channel[1],\n              \n            };\n        });\n}\n\n\nout = m3utojson(msg.payload);\nfilename = flow.get(\"all\")\nreturn {filename:filename,payload:out};","outputs":1,"noerr":0,"x":183,"y":192,"wires":[["531dde0f.3521e"]],"l":false},{"id":"531dde0f.3521e","type":"file","z":"cc7651f1.0d546","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":231,"y":192,"wires":[["35e799bb.0d926e"]],"l":false},{"id":"35e799bb.0d926e","type":"debug","z":"cc7651f1.0d546","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":314,"y":192,"wires":[]},{"id":"107fee04.4c63ea","type":"file in","z":"cc7651f1.0d546","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":279,"y":312,"wires":[["6eb7b3b2.dc332c"]],"l":false},{"id":"69425fce.b7b858","type":"change","z":"cc7651f1.0d546","name":"filter categories and countries","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tv_categories","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":312,"wires":[["243b1b72.75ad5c"]],"l":false},{"id":"243b1b72.75ad5c","type":"function","z":"cc7651f1.0d546","name":"","func":"let m = msg.payload\nlet u = [...new Set(m)].sort()\nlet category = []\nlet country = []\n// let country = []\n\nfor(let x=0;x<m.length;x++){\n    if(m[x].search(\";\")>1){\n        c = m[x].split(\";\")\n        category.push(c[1])\n    }else{\n        country.push(m[x])\n    }\n}\n\n\ncategories = category.sort().reduce((b,c)=>((b[b.findIndex(d=>d.category===c)]||b[b.push({category:c,channels:0})-1]).channels++,b),[]);\ncountries = country.sort().reduce((b,c)=>((b[b.findIndex(d=>d.country===c)]||b[b.push({country:c,channels:0})-1]).channels++,b),[]);\n\n\n\n\nreturn {payload:{categories:categories,countries:countries}}","outputs":1,"noerr":0,"x":423,"y":312,"wires":[["1bd9f605.ed8b32"]],"l":false},{"id":"6eb7b3b2.dc332c","type":"json","z":"cc7651f1.0d546","name":"","property":"payload","action":"","pretty":false,"x":327,"y":312,"wires":[["69425fce.b7b858"]],"l":false},{"id":"265f930.271ec6e","type":"comment","z":"cc7651f1.0d546","name":"Search","info":"","x":170,"y":480,"wires":[]},{"id":"3ea832eb.75aa46","type":"function","z":"cc7651f1.0d546","name":"","func":"filename = flow.get(\"all\")\n\nif(msg.payload.hasOwnProperty(\"search\")){\n    topic = msg.payload.search\n    return {filename:filename,topic:topic};\n}\n","outputs":1,"noerr":0,"x":135,"y":528,"wires":[["2b44415e.937e8e"]],"l":false},{"id":"2b44415e.937e8e","type":"file in","z":"cc7651f1.0d546","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":183,"y":528,"wires":[["47f60ef.26ba6f"]],"l":false},{"id":"47f60ef.26ba6f","type":"json","z":"cc7651f1.0d546","name":"","property":"payload","action":"","pretty":false,"x":231,"y":528,"wires":[["76b096b0.97a728"]],"l":false},{"id":"76b096b0.97a728","type":"change","z":"cc7651f1.0d546","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"channels","tot":"msg"},{"t":"set","p":"payload.results","pt":"msg","to":"channels[$contains($lowercase(title),$$.topic)]","tot":"jsonata"},{"t":"delete","p":"channels","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":279,"y":528,"wires":[["3cafe910.628bf6"]],"l":false},{"id":"3cafe910.628bf6","type":"function","z":"cc7651f1.0d546","name":"","func":"if(msg.hasOwnProperty(\"payload\")){\nreturn msg;\n}\nelse{\n    return {payload:{results:[{title:false}]}}\n}","outputs":1,"noerr":0,"x":327,"y":528,"wires":[["1bd9f605.ed8b32"]],"l":false}]